<div id="fulcrum"></div>

<form method="post" action="/track">
    <input name="user" type="text" placeholder="username">
    <input name="keyword" type="text" placeholder="keyword">
    <input type="submit">
</form>